form.login{
	position:absolute;
	left:38%;
	bottom:50%;
	border: solid;
	padding: 100px;
	border-color: yellowgreen;
	border-radius: 50px;
}
form.ntd{
	border: solid;
	padding: 25px;
	border-color: #329acd;
	border-radius: 50px;
	width: 350px;
}
.cmpl{
	text-decoration:line-through;
}
a{
	text-decoration:none;
	color:black;
	font-size: 20px;
}

.del{
	background-image: url(images/del.svg);
	border:none !important;
	height:20px;
	width:auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: center;
}